<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>List</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">add parcel</a></li>
        <li><a href="/list">list parcel</a></li>
        <li><a href="/update">update parcel</a></li>
        <li><a href="/delete">delete parcel</a></li>
        <li><a href="/deleteBySenderAndWeight">delete parcel by sender and weight</a></li>
      </ul>
    </header>
  <body>
    <h1>Page not found</h1>
    <a href="/" class="button">home</a>
  </body>
</html>
