<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Post Office</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/list">list parcel</a>
            <a class="nav-item nav-link" href="/listnonfragile">list parcel (non-fragile)</a>
            <a class="nav-item nav-link" href="/listbysender">list parcel by a sender</a>
            <a class="nav-item nav-link" href="/listbyweight">list parcel by weight</a>
            <a class="nav-item nav-link" href="/add">Add parcel</a>
            <a class="nav-item nav-link" href="/update">update parcel</a>
            <a class="nav-item nav-link" href="/delete">delete parcel</a>
          </div>
        </div>
      </nav>
    </header>
    <br />
    <form action="/listbyweight" method="post" class="w-25 bg-dark mx-auto mt-3 p-3 text-white">
        <div class="text-center">
        Minimum weight <input type="text"  name="minweight" /> </br>
        </div>
        <div class="text-center">
        Maximum weight <input type="text"  name="maxweight" /> </br>
        </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </div>
    </form>
    <table class="table table-dark w-75 mx-auto">
      <tr>
        <th>ID</th>
        <th>sender</th>
        <th>address</th>
        <th>weight</th>
        <th>fragile</th>
      </tr>
      <% for(let i =0; i< parcels.length; i++){ const {_id, sender, address,
      weight,fragile} = parcels[i]; %>
      <tr>
        <td><%= _id %></td>
        <td><%= sender %></td>
        <td><%= address %></td>
        <td><%= weight %></td>
        <td><%= fragile? 'yes': 'no' %></td>
      </tr>
      <% }%>
    </table>
  </body>
</html>
