<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Post Office</a>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/list">list parcel</a>
            <a class="nav-item nav-link" href="/add">Add parcel</a>
            <a class="nav-item nav-link" href="/update">update parcel</a>
            <a class="nav-item nav-link" href="/delete">delete parcel</a>
          </div>
        </div>
      </nav>
    </header>
    <br />
    <table class="table table-dark w-75">
      <tr>
        <th>ID</th>
        <th>sender</th>
        <th>address</th>
        <th>weight</th>
        <th>fragile</th>
      </tr>
      <% for(let i =0; i< parcels.length; i++){ const {_id, sender, address,
      weight,fragile} = parcels[i]; %>
      <tr>
        <td><%= _id %></td>
        <td><%= sender %></td>
        <td><%= address %></td>
        <td><%= weight %></td>
        <td><%= fragile %></td>
      </tr>
      <% }%>
    </table>
    <a href="/" class="btn btn-primary">home</a>
  </body>
</html>
