img {
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

body {
  background-image: url('office.jpg');
  object-fit: cover;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

table,
th,
td {
  border: 1px solid black;
}

ul {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
